(define-library (tc_classic)
    (export suite)
    
    (import (scheme base) (scheme write) (scheme inexact))
    
    #|
    (cond-expand
		(gauche (import (only (gauche base) make string->regexp rxmatch)))
		(sagittarius (import (sagittarius regex)))
		(else))
    |#
    
    (import (srfi 1) (srfi 42) (srfi 64))
	(cond-expand
		((library (srfi 29)) (import (srfi 29)))
		(gauche (import (only (gauche base) format)))
		(sagittarius (import (only (sagittarius) format)))
		(else))
    
    (import ({{parent}}{{^parent}}intro_scm{{/parent}} classic))
    
    (begin
		(define mod-sym 'tc_classic)
		
        (include "_tc_classic.scm")
        )
)
