"
#include \"{{parent}}{{^parent}}intro_scm{{/parent}}/classic_stubs.h\"
"

(define-cproc fact_i (n::<uint>) Classic_fact_i)

(define-cproc fact_lp (n::<uint>) Classic_fact_lp)

(define-cproc expt_i (b::<float> n::<float>) Classic_expt_i)

(define-cproc expt_lp (b::<float> n::<float>) Classic_expt_lp)

;; Local variables:
;; mode: scheme
;; end:
